<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header'); -%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (user) {%>
      <button>
        <a href="/create_message">Post Message</a>
      </button>
    <%}%>
    <% if (!user) {%>
        <h1>please log in</h1>
      <%}%>
      <ul class="feed">
        <% messages.forEach(function(message) { %>
          <li><div class="message-box">
            <% if (typeof user.isMember === 'undefined') {%>
              <h2>Anon</h2>
            <% } else { %>
              <h2><%= message.postedBy.username %> </h2>
              <% } %>
            <p><%=message.title %></p>
             <p class="comment"><%= message.text%></p>
             <% if (typeof user.isMember === 'undefined') {%>
              <p>--:--</p>
            <% } else { %>
              <h2><%= message.timestamp %> </h2>
              <% } %>
          </div></li>
        <% }); %>
      </ul>
  </body>
</html>
