<!DOCTYPE html>
<html>
  <head>
    <%- include('meta'); -%>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header'); -%>
  <form action="" class="user__form" method="POST">
    <h1><%= title %></h1>
    <h3>Enter code "MEMBER" to be a member.</h3>
    <h3 class="error-message"><%= message %></h3>
    <input type="text" name="password" placeholder="MEMBER" required>
    <button type="submit">OK</button>
  </form>
  </body>
</html>
